.pagination_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  .remove_element {
    display: none;
  }

  .current_page {
    color: #b4b4b4;
    border: 4px solid #02c8ff;
    border-radius: 3px;

    div {
      border-radius: 0;
    }
  }

  a {
    font-weight: 900;
    font-size: 18px;
    margin: 8px;

    &:hover div {
      background-color: #eaeaea;
    }

    div {
      width: 38px;
      height: 38px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      background-color: #cecece;
      border-radius: 3px;
    }
  }
}
